.movie-grid{
  .nav a {
    color: gray;
    font-weight: bold;
  }
  .nav .active{
    color: deeppink;
    border-color: transparent transparent deeppink transparent;
  }
  .badge {
    margin-top: -7px;
  }
  .card-img-top {
    max-height: 45vh;
    object-fit: cover;
  }
  .card-columns .card .img {
    max-height: 10px;
  }
  .category-dropdown {
    position: absolute;
    top: 10px;
    left: 333px;
  }
}

