.carousel-caption{
  text-align: initial;
  left: 5%;
  right: 5%;
}
.main-slider{
  .jumbotron{
    .display-4{
      max-height: 20vh;
      font-size: 3vh;
      font-weight: bold;
      overflow: auto;
    };
    max-width: 70%;
  }
  .tags a{
    color: white;
  }
  .carousel-item img {
    min-height: 62vh;
    object-fit: cover;
  }
}
